CAREERJET_API_KEY=your_careerjet_api_key
CAREERJET_LOCALE=en_KE
CAREERJET_USER_IP=your_public_ip
CAREERJET_USER_AGENT=JobSeekAfrica/1.0
CAREERJET_PAGES=6
CAREERJET_PAGE_SIZE=50
CAREERJET_MAX_JOBS=300
JOBS_COLLECTION=jobs
MANUAL_SYNC_TOKEN=change_this_secret
